




							<a class="thumbpin" href="{% url 'activity_cat_profile' slug=e.slug %}" title="{{ e.activity_name|title }}">
								<div class="thum-sh">
									<div class="thumbimg">
										<img class="timg" src="{{ e.thumb.url }}" alt="hello">
									</div>
									<div class="thubinf">
										<div class="ttl-t">{{ e.activity_name|title }}</div>
										<div class="rate-t">
											
											<span></span>
										</div>
										<div class="pps-t">40+ listings</div>
									</div>
								</div>
							</a>				
				
				
				
				
				