<!-- micro footer -->
	
	<div class="r">
		
		<div class="footertheme footer footerdoc">
			<div class='fhead'>
				<div class="ftable">
					<div class="flot-link tui">
						<a href="#" class="_dflnk">Home</a>
					</div>
					<div class="flot-link tui">
						<a href="#" class="_dflnk">About us </a>
					</div>
					<div class="flot-link tui">
						<a href="#" class="_dflnk">Terms and Conditions</a>
					</div>
					<div class="flot-link tui">
						<a href="#" class="_dflnk">Privacy Policy</a>
					</div>
					<div class="flot-link tui">
						<a href="#" class="_dflnk">Cookie Policy</a>
					</div>
				</div>
				
			</div>
			<div class='fmid'>
				<div class="ftable">
						<a href="#" class="alink litm _dflnk" title="facebook"><i class='fab fa-facebook-f'></i></a>
						<a href="#" class="alink litm _dflnk" title="twitter"><i class='fab fa-twitter'></i></a>
						<a href="#" class="alink litm _dflnk" title="youtube"><i class='fab fa-youtube'></i></a>
				</div>
			</div>
			<div class='fbot'>
				<div class="ftable">
					<div class="flot-link">
						<span class="notty">Copyright jbTrip 2019<span>
					</div>
				</div>
			</div>
			
		
		</div>
		
	</div>
	<!-- micro footer -->