




							<a class="thumbpin" href="{% url 'activity_profile_content' name=e.name.slug loc=e.slug %}">
								<div class="thum-sh">
									<div class="thumbimg">
										<img class="timg" src="{{ e.featured_img_1.url }}" alt="hello" title="{{ e.name.activity_name|title }} - {{ e.location|title }}">
									</div>
									<div class="thubinf">
										<div class="ttl-t">{{ e.name|title }} - {{ e.location|title }}</div>
										<div class="rate-t">
											<span><i class="fas fa-rupee-sign"></i></span>
											<span>{{ e.prize }}</span>
										</div>
										<div class="pps-t">per person</div>
									</div>
								</div>
							</a>				
				
				
				
				
				